 <div class="flex-grow flex flex-col justify-center items-center bg-gray-200 md:p-4 p-2 ">
   <div data-controller="carousel" class="flex-grow relative md:w-full sm:w-3/4 w-3/4 flex flex-col justify-center items-center md:p-4">
      <button data-action="click->carousel#show" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> Click Me!</button>
    </div>
 </div>