 <div class="flex-grow w-full flex flex-col justify-center items-center bg-gray-200 p-4">
    <div data-slideshow-target="card" class="flex-grow w-full bg-white grid grid-cols-2 rounded-md dark:bg-gray-300 shadow">
      <%= image_tag "winter_hike_with_rosie.jpg", class: "h- w-auto rounded-tl-md rounded-bl-md" %>
      <div class="">
        <!--
            Add a slide show of images on the left side with paragraphs about me ont the right, plan this out artistically
        -->
        <p>I am a University of Vermont graduate who discovered a passion and love for Web Development and problem solving. <br></p>
        <p>I am a self taught web developer through TheOdinProject, an open source educational platform specializing in Ruby on Rails and Node.js. <br></p>
        <p>I work as a Software QA at Epic, the lead Electronic Health Record company in America. <br></p>
        <p>I am an avid outdoorsman, hiker, cyclist, skier, and backpacker. <br></p>
      </div>
    </div>
  </div>