<div class="bg-blue-50 flex-grow mountain bg-no-repeat bg-cover bg-center flex justify-center items-center">
    <div class="md:w-96 w-72 flex flex-col items-center gap-8">
        <div class="md:h-96 md:w-96 h-72 w-72 border-8 rounded-full bg-white bg-center" id="headshot"></div>
        <div class="w-full flex flex-col items-center gap-2">
            <div class="md:px-6 md:py-4 px-4 py-2 rounded-md bg-white flex items-center justify-center font-extrabold md:text-4xl text-2xl">Axel Olsson</div>
            <div class="md:px-8 md:py-4 px-6 py-2 rounded-md bg-white flex items-center justify-center font-medium md:text-3xl text-xl">Software Developer</div>
        </div>
    </div>
</div>