<div id="<%= dom_id project %>">
  <p>
    <strong>Link:</strong>
    <%= project.link %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

</div>
